/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-text-color: #ff0070;
  --font-size: 18px;
  --title: #db00ff;
  --text-title-color: #000028;
  --text-paragraph-color: #ff0070;
  --card-text: #f1b2ce;
  --menu-button-hover: rgba(255, 0, 112, 40%);
}

.theme-dark.lamp_element {
  display: flex;
  align-items: center;
  position: absolute;
  justify-self: end;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 25px;
  color: var(--text-paragraph-color);
  margin: 10px;
}

.theme-dark.lamp_element::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--bg-text-color);
  margin-inline-start: 10px;
  margin-inline-end: 8px;
  box-shadow: 0 0 5px 3px var(--accent-color);
}
