/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.lamp_element {
  display: flex;
  align-items: center;
  position: absolute;
  justify-self: end;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 25px;
  color: var(--text-paragraph-color);
  margin: 10px;
}

.lamp_element::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--bg-text-color);
  margin-inline-start: 10px;
  margin-inline-end: 8px;
  box-shadow: 0 0 5px 3px var(--accent-color);
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  color: var(--text-paragraph-color);
}

.header__theme-menu-list {
  display: grid;
  justify-items: center;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 18px;
  border: none;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover);
  text-underline-offset: 2px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  outline-offset: 2px;
  border-bottom: 1px solid var(--text-paragraph-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--text-paragraph-color);
  pointer-events: none;
}

.header_title {
  justify-self: start;
  align-self: center;
  color: var(--title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--font-size-title-min);
  font-weight: 700;
  line-height: 83%;
}

.header_text {
  display: grid;
  justify-self: end;
  align-self: center;
  line-height: 23.4px;
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--bg-text-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--text-paragraph-color);
  justify-self: end;
  border-left: none;
  border-bottom: none;
  margin: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--text-paragraph-color);
  align-self: end;
  border-top: none;
  border-right: none;
  margin: 10px;
}

.main {
  display: grid;
  gap: 30px;
  padding-inline: 10px;
  margin-block: 40px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 23.4px;
  word-spacing: 0;
}

.section_title {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--text-paragraph-color);
}

.card__title {
  font-size: var(--font-size);
  display: grid;
  inline-size: 100%;
}

.card__menu-list {
  margin-block-start: 20px;
}

.card__text {
  font-size: var(--font-size);
  display: inline-block;
  color: var(--card-text);
  margin: 10px 0 20px 0;
  letter-spacing: 0;
}

.card__advice-title {
  display: grid;
  font-weight: 400;
}

.advices {
  margin-block-start: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--card-text);
}

.link:focus-visible {
  outline: 1px solid var(--card-text);
  text-decoration: none;
}

.gallery_cards {
  display: grid;
}

.image {
  display: block;
  inline-size: 100%;
  object-fit: contain;
  padding-block-start: 10px;
}

.footer {
  display: grid;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--title);
  font-size: 116px;
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--font-size-title-min);
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px 20px 20px 0;
  }

  .header_title {
    font-size: var(--font-size-title-max);
  }

  .header_text {
    max-inline-size: 364px;
    inline-size: 100%;
    padding-right: 15px;
  }

  .lamp_element {
    margin: 20px;
  }

  .decorated-zone::before {
    margin: 20px;
  }

  .decorated-zone::after {
    margin: 20px;
  }

  .main {
    margin-block: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    margin-inline: 10px;
    margin-block-end: 30px;
    gap: 20px;
  }

  .section_title {
    max-inline-size: 236px;
  }

  .card__menu-list {
    margin-block-start: 0;
  }

  .section-causes {
    grid-template-columns: 1fr;
  }

  .advices {
    grid-row-start: 1;
    grid-column-start: 2;
    margin-block-start: 0;
    block-size: 23px;
  }

  .article {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-block-start: 44px;
  }

  .gallery {
    margin-inline: 10px;
  }

  .image {
    block-size: 100%;
    object-fit: cover;
    padding-block-start: 0;
  }

  .gallery_cards {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    margin-top: 20px;
  }

  .image:nth-child(1) {
    grid-area: sunset;
  }

  .image:nth-child(2) {
    grid-area: ice-cream;
  }

  .image:nth-child(3) {
    grid-area: tape;
  }

  .image:nth-child(4) {
    grid-area: books;
  }

  .image:nth-child(5) {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer_title {
    font-size: var(--font-size-title-max);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 11px;
  }

  .header_text {
    max-inline-size: 491px;
    padding-right: 0;
  }

  .section {
    gap: 8px;
  }

  .section_title {
    max-inline-size: 315px;
  }

  .section-causes {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
  }

  .causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 20px;
    margin-block-start: 10px;
  }

  .footer {
    min-block-size: 768px;
  }
}
