/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-text-color: #ff0070;
  --font-size: 18px;
  --title: #db00ff;
  --text-title-color: #000028;
  --text-paragraph-color: #ff0070;
  --card-text: #f1b2ce;
  --menu-button-hover: rgba(255, 0, 112, 40%);
  --font-size-title-min: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-max: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

